@font-face {
    font-family: 'munroregular';
    src: url('font/Munro-webfont.eot');
    src: url('font/Munro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Munro-webfont.woff2') format('woff2'),
         url('font/Munro-webfont.woff') format('woff'),
         url('font/Munro-webfont.ttf') format('truetype'),
         url('font/Munro-webfont.svg#munroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'munro_narrowregular';
    src: url('font/MunroNarrow-webfont.eot');
    src: url('font/MunroNarrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/MunroNarrow-webfont.woff2') format('woff2'),
         url('font/MunroNarrow-webfont.woff') format('woff'),
         url('font/MunroNarrow-webfont.ttf') format('truetype'),
         url('font/MunroNarrow-webfont.svg#munro_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'munro_smallregular';
    src: url('font/MunroSmall-webfont.eot');
    src: url('font/MunroSmall-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/MunroSmall-webfont.woff2') format('woff2'),
         url('font/MunroSmall-webfont.woff') format('woff'),
         url('font/MunroSmall-webfont.ttf') format('truetype'),
         url('font/MunroSmall-webfont.svg#munro_smallregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'munroregular';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'munroregular';
}

h2 {
    font-size: 1.5em;
}

input {
    text-transform: uppercase;
    width: 50%;
}

#diners {
    text-align: center;
}

.diner {
    border: 2px solid #000;
    border-bottom-width: 0;
    width: calc(25% - 20px);
    margin: 10px;
    float: left;
    position: relative;
}

.diner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: url('../img/bottom.jpg') repeat-x;
    width: 100%;
}

table {
    width: 100%;
    border: 0;
    text-transform: uppercase;
}

td {
    width: 50%;
}

td:last-child {
    text-align: right;
}

.tax, .tip, .sum {
    padding: 0 0.625rem;
    text-align: right;
}

.tax {
    border-top: 2px solid #333;
}

.sum {
    font-size: 2em;
}

button {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    float: right;
    padding: 10px;
    font-family: 'munroregular';
}

header {
    height: 60px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 5px 3px rgba(204,204,204, 0.5);
}

#diner-button {
    float: left;
}